@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Application";
}

@model TaskEntry

<div>
    <h2>Confirm Deletion</h2><br /><br />
    <h3>Are you sure you want to delete the record for @Model.Task?</h3>
    <br /><br />
    <form method="post" asp-controller="Home" asp-action="Delete">
        <button type="submit">Delete</button>
        <br />
        <br />
        <a asp-controller="Home" asp-action="Quadrants" class="btn btn-primary">Cancel</a>

        <input type="hidden" asp-for="TaskId" />
    </form>
</div>
