@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Habits For Highly Effective People</h1>
    <p>Become a Highly Effective Person Today!</p>
    <img src="~/img/B1C100238F8ADA792BF531368174638DA6ED38FA.jpg" />
</div>
