@{
    ViewData["Title"] = "View Tasks";

}

<h1>All Tasks</h1>


<div class="headerRow">

    <div class="quadTopHeader">
        Urgent
    </div>
    <div class="quadTopHeader">
        Non-Urgent
    </div>
</div>
<div class="row"></div>

<div class="row">
    <div class="quadSideHeader">
        Important
    </div>
    <div class="tl">
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>
    </div>
    <div class="tr">
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="quadSideHeader">
        Not Important
    </div>
    <div class="bl">
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>
    </div>
    <div class="br">
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>
    </div>
</div>






