@{
    ViewData["Title"] = "View Tasks";

}

<h1>This is where we will view the tasks</h1>


<div class="headerRow">

    <div class="quadTopHeader">
        Urgent
    </div>
    <div class="quadTopHeader">
        Non-Urgent
    </div>
</div>

<div class="row">
    <div class="quadSideHeader">
        stuff
    </div>
    <div class="quad" id="topleft">
        1 of 4
    </div>
    <div class="quad" id="topright">
        2 of 4
    </div>
</div>
<div class="row">
    <div class="quadSideHeader">
        stuff
    </div>
    <div class="quad" id="bottomleft">
        3 of 4
    </div>
    <div class="quad" id="bottomright">
        4 of 4
    </div>
</div>


