@{
    ViewData["Title"] = "Add Task";
}

@model Project1.Models.TaskEntry

<div class="text-center">
    <h1 class="display-4">Add Task</h1><br />

    <form method="post">
        <label asp-for="Task">Task: </label>
        <input asp-for="Task" required /><br />

        <label asp-for="DueDate">Due Date: </label>
        <input asp-for="DueDate" type="date" /><br />

        <label asp-for="Quadrant">Quadrant: </label>
        <select asp-for="Quadrant" name="quadrant" required>
            <option value="">Select</option>
            <option value="1">Quadrant 1</option>
            <option value="2">Quadrant 2</option>
            <option value="3">Quadrant 3</option>
            <option value="4">Quadrant 4</option>
        </select><br />

        <label asp-for="CategoryId">Category: </label>
        <select asp-for="CategoryId" name="category" required>
            <option value="">Select</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select><br />

        <label asp-for="Completed">Completed? </label>
        <select asp-for="Completed" name="completed">
            <option value="">Select</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br /><br /><br />

        <button type="submit">Submit</button>

    </form>
</div>
