/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/*Quadrants CSS*/


.row {
    padding: 0;
    margin: 0;
    display: flex;
    width:100%;
}

.quadTopHeader {
    width: 49%;
    padding: 0;
    margin: 0;
    height: 80px;
    float: left;
    font-size:xx-large;
    text-align: center;
    vertical-align:middle;
}

.headerRow {
    width: 90%;
    padding: 10px;
    margin-left: 100px;
}

.quadSideHeader {
    width: 10%;
    margin: 0;
    font-size: large;
    text-align: center;
    vertical-align:central;
}


.tl {
    background-color: palevioletred;
    width: 45%;
    padding: 10px;
    padding-top: 20px;
}

.tr {
    background-color: lightgoldenrodyellow;
    width: 45%;
    padding: 10px;
    padding-top: 20px;
}

.bl {
    background-color: palegreen;
    width: 45%;
    padding: 10px;
    padding-top:20px;
}

.br {
    background-color: paleturquoise;
    width: 45%;
    padding: 10px;
    padding-top: 20px;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


